h1 {
    color: orange;
    text-align: center;
	}

h3 {
    color: red;
    text-align: center;
	}

body {
    background-color: #d0e4fe;
    font-family: "Times New Roman";
    font-size: 14px;
}

p {
    font-family: "Arial";
    font-size: 14px;
	}

/* Notice that lists items in a <p> tag and <nav> items still follow the formating designated in body part above */